*,
*:not(img),
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    min-width: min-content;
  }

  a {
    text-decoration: none;
    color: black;
  }

  .main-title {
    background-color: black;
    color: white;
    font-size: 30px;
    font: bold;
    padding: 20px;
    border-radius: 10px 10px 0 0 ;
    margin: 10px 10px;
  }

  .nav {
    display: inline-block;
    width: 100vw;
    margin: 10px auto;
  }

.rec {
  height: 50px;
  border: 2px black solid;
  border-radius: 0px 16px 0px 0px ;
  padding: 8px;
  background-color: beige;
  font-size: small;
  margin: -10px 10px;
}

.rec-title {
  display: flex;
  background-color: beige;
  border: 2px black solid;
  color: black;
  font-size: 15px;
  font: bold;
  border-radius: 10px 10px 0 0 ;
  overflow: hidden;
  margin-bottom: 10px;
  min-width: max-content;
}

.inner-title {
  padding: 20px;
  margin: 10px 10px 10px 10px;
}

#recipe-page {
  margin: 10px;
}

.recipe-content {
  background-color: beige;
  padding: 30px;
  border: 2px black solid;
  border-radius: 0 0 10px 10px;
}

.list-indent {
  margin-left: 20px;
  padding: 10px;
}

.img-title
{
  height: 100px;
  padding: 0;
  margin-left: auto;
  border-left: 2px black solid;
}

.footer {
  border: 2px black solid;
  border-radius: 10px;
  padding: 8px;
  margin: 10px 0;
  background-color: beige;

}